.tile_div {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: rgb(232, 177, 105);
	border: 1px solid rgb(153, 92, 6);
}

.tile_div_pressed {
	position: absolute;
	/* width: 190px;
	height: 190px; */
	width: 200px;
	height: 200px;
	background-color: rgb(255, 255, 64);
	border: 0px solid rgb(255, 85, 0);
}

.tile_letter {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 300%;
	color: rgb(44, 44, 44);
	padding: 60px;
	position: absolute;
	margin: 0%;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	user-select: none;
}

.selected_letters {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 300%;
	color: rgb(21, 21, 21); /* Sets the text color to white */
	-webkit-text-stroke-width: 3px; /* Sets the stroke width to 2 pixels */
}

.board_div {
	background-color: rgb(93, 56, 0);
	position: relative;
	width: calc(800px + 3 * 30px);
	height: calc(800px + 3 * 30px);
}

.line_path {
	position: absolute;
	top: 209px;
	pointer-events: none;
	z-index: 10;
	font-size: 100%;
}

.game_title {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 70px;
	font-weight: 600;
	background-image: linear-gradient(to left, #2f7911, #f3f33b);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: rgb(54, 141, 77);
}

.window {
	display: flex;
	flex-direction: column;
	align-items: center;
}
